.form-control1
{
    width: 90px!important;
}
.btn-primary1
{
    
    width: 35px!important;
    height: 35px!important;
    font-weight: bold!important;
}
.btn-primary2
{
    color:#ffff!important;
}
.btn-danger1
{
    width: 35px!important;
    height: 35px!important;
    font-weight: bold!important;
}